<h1>index house</h1>
<p>Find me in app/views/houses/index.html.erb</p>

<div class="container d-flex gap-2">
  <% @houses.each do |house| %>
    <div class="card" style="width: 18rem;">
      <%= cl_image_tag house.images[0].key %>
      <div class="card-body">
        <h5 class="card-title"><li><%= link_to(house.name, house_path(house.id )) %></li></h5>
        <p class="card-text"><%= house.description %></p>
        <%= link_to("Voir plus", house_path(house.id), class: "btn btn-primary")%>
      </div>
    </div>
  <% end %>
</div>

<%= link_to 'dashboard', dashboards_path %>
