
<div class="container-home">

  <div class="card-container">
    <% @houses.each do |house| %>
      <div class="card">
        <%= link_to house_path(house.id) do %>
          <%= cl_image_tag house.images[0].key, class: "house-image" %>
        <% end %>

        <div class="card-body">
          <h5 class="card-title"><%= link_to(house.name, house_path(house.id )) %></h5>
          <p>HOST :<%= house.user.username %></p>
          <p><%= house.price%> €/per night</p>
        </div>

      </div>
    <% end %>
  </div>

  <div class="card-map-home"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
