
<div class="house-container">
  <h1><%= @house.name %></h1>

  <div class="house-images">
    <% if @house.images.attached? %>
      <h3>Images:</h3>
      <% @house.images.each do |image| %>
        <%= image_tag image %>
      <% end %>
    <% end %>
  </div>

  <div class="house-address">
    <strong>Address:</strong>
    <div> <%= @house.address %> </div>
  </div>

  <div class=".house-description">
    <strong>Description:</strong>
    <div> <%= @house.description %></div>
  </div>
  
  <div class="card-booking"  data-controller="booking-card" >
    <%= render 'bookings/form', house: @house, booking: @booking %>
  </div>

</div>

<%= link_to 'Back', root_path %>
