
<h1><%= @house.name %></h1>

<div class="house-images">
  <% if @house.images.attached? %>
    <% @house.images.each do |image| %>
      <%= cl_image_tag  image.key , class: "carrousel-image-booking" %>
    <% end %>
  <% end %>
</div>

<div class="house-container">

  <div class="house-container-description">

    <div class="house-address">
      <strong>Address:</strong>
      <div> <%= @house.address %> </div>
    </div>

    <span class="house-guest">
      <%= @house.guest %> Guest
    </span>

    <span class="house-bedroom">
      <%= @house.bedroom %> Bedroom
    </span>

    <span class="house-bed">
      <%= @house.bed %> Bed
    </span>

    <span class="house-bath">
      <%= @house.bath %> Bath
    </span>

    <span class="house-pet">
      <%= @house.pet %> Pet
    </span>

    <div class=".house-description">
        <%= content_tag :div, @house.description, class: "description-text" %>  
    </div>

    </div>

    <div class="card-booking"  data-controller="display-booking-price" >
      <%= render 'bookings/form', house: @house, booking: @booking %>
    </div>

</div>


<%= link_to 'Back', root_path %>
<%= link_to 'Delete', house_path(@house), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
