<div class="show-container">
    <h1><%= @house.name %></h1>
  <div class="house-content">
    <div class="container-house-image">
      <%# <div class="container"> %>
      <% if @house.images.attached? %>
        <div class="main-image">
          <%= cl_image_tag(@house.images.first.key, class: "carrousel-image-booking") %>
        </div>
        <div class="secondary-images">
          <% @house.images.each_with_index do |image, index| %>
            <%= cl_image_tag(image.key, class: "carrousel-image-booking") unless index.zero? %>
          <% end %>
        </div>
      <% end %>

      </div>
      <div class="house-main">
        <div class="house-data">

          <hr>
            <p><%= @house.address %></p>
          <hr>

          <div class="house-host">
            <%= image_tag "profil_barbie.png", class: "icon-host" %>
            <%= @house.user.username %>
          </div>

          <hr>
          <div class="specifications">
            <p><i class="fa-solid fa-person"></i> <%= @house.guest %></p>
            <p><i class="fa-solid fa-person-booth"></i> <%= @house.bedroom %></p>
            <p><i class="fa-solid fa-bed"></i> <%= @house.bed %></p>
            <p><i class="fa-solid fa-bath"></i> <%= @house.bath %></p>
            <p><i class="fa-solid fa-dog"></i> <%= @house.pet ? "Oui" : "Non" %></p>
          </div>
          <hr>

          <div class=".house-description">
            <%= content_tag :div, @house.description, class: "description-text" %>
          </div>


        </div>

        <div class="booking-form"  data-controller="display-booking-price" >
          <%= render 'bookings/form', house: @house, booking: @booking %>
        </div>
      </div>
</div>
</div>

<%# </div> %>


<div class="house-container">



</div>
