<div class="card-dashboard">
  <div class="card-header header-dash-booking">
  <em><%= booking.status %></em>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= booking.house.name %></h5>
    <p class="card-text">Arrival : <%= booking.arrival_date %></p>
    <p class="card-text">Departure : <%= booking.departure_date %></p>
    <p class="card-text">Price : <%= booking.price_total %></p>
    <p class="card-text">Guests : <%= booking.guest %></p>
    <p class="card-text">Animals : <%= booking.pet %></p>
    <div class="d-flex justify-content-end">
    <%= link_to house_path(booking.house) do %>
    <i class="fa-solid fa-circle-info fa-lg" style="color: #fcfcfd;"></i>
    <% end %>
    </div>
  </div>
</div>
