<%= simple_form_for [@house, @booking], url: house_bookings_path(@house) do |f| %>
  <div class="card-reservation">
    <div class="house-price">
      <strong>Price:</strong>
      <div><%= @house.price %> €/nuit</div>
    </div>

    <div class="house-date-reservation" data-action="change->display_booking_price#select_dates>
      <div>
          <%= f.input :arrival_date, label: "Arrived", html5: true, as: :date %>
          
      </div>
      <div>
        <%= f.input :departure_date, html5: true, label: "Departure", as: :date %>
      </div>
    </div>

    <div class="total_price_booking" >
      <div>Faire du javascript pour afficher de façon dynamique le prix selon la durée du séjour</div>
    </div>

    <div class="btn-reservation">
      <%= f.submit "Booking" %>
    </div>

  </div>
<% end %>
