<%= simple_form_for [@house, @booking], url: house_bookings_path(@house) do |f| %>
  <div class="card-reservation">

    <div class="house-price">
      <strong>Price:</strong>
      <div><%= @house.price %> €/nuit</div>
    </div>

    <div class="house-date-reservation">
      <div >
        <%= f.input :arrival_date, label: "Arrived", html5: true, as: :date, input_html:{data:{display_booking_price_target: "arrivalDate", action:"input->display-booking-price#calculateTotalPrice"}}  %>
      </div>

      <div>
        <%= f.input :departure_date, html5: true, label: "Departure", as: :date, input_html:{data:{display_booking_price_target: "departureDate",action:"input->display-booking-price#calculateTotalPrice"}} %>
      </div>

      <%# data-price-per-night utilisé pour transmettre le prix par nuit de votre code côté serveur  %>
      <div class="total_price_booking" data-display-booking-price-target="totalPrice"  data-price-per-night="<%= @house.price %>">
        Total Price: $0.00
      </div>

      <div class="tenant-comment">
        <%= f.input :tenant_comment %>
      </div>
      
      <div class="btn-reservation">
        <%= f.submit "Booking" %>
      </div>

    </div>
  </div>
<% end %>
