<div class="card-container-dashboard">
  <div class="card">

     <div class="house-image-div">
      <%= link_to house_path(house.id) do %>
        <%= cl_image_tag house.images.first.key, class: "house-image" %>
      <% end %>
    </div>

    <div class="title-card-dashboard">
      <%= house.name%>
    </div>

    <div class="details-booking">
        <div class="details-booking">
          <p class="card-text">Price : <%= house.price %> €/night</p>
          <p class="card-text">Guests : <%= house.guest %></p>
        </div>
    </div>
      <%= link_to house, data: { turbo_method: :delete} do %>
        <i class="fa-solid fa-trash-can" style="color: #f83080;"></i>
      <% end %>
  </div>
</div>
