<div class="card-dashboard">
  <div class="card-header header-dash-booking">
    <div class="d-flex justify-content-between">
      <%= house.name %>
      <%= link_to house, data: { turbo_method: :delete} do %>
        <i class="fa-solid fa-trash-can" style="color: #f83080;"></i>
      <% end %>
    </div>
  </div>

  <div class="card-body">
    <h5 class="card-title">
      Bedrooms : <%= house.bedroom %>
    </h5>

    <p class="card-text">
      Beds : <%= house.bed %>
    </p>

    <div class="d-flex justify-content-end">
      <%= link_to house do %>

        <i class="fa-solid fa-circle-info fa-lg" style="color: #fcfcfd;"></i>

    </div>
  </div>
</div>
